<div class="text-center mb-4">
  <h3>Justificatifs existants</h3>
  <div class="row gx-4 gy-4 d-flex justify-content-center">
    <div *ngFor="let justificatif of justificatifs; let i = index" class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="image-card">
        <div class="image-container">
          <button type="button" class="delete-button" (click)="removeFile(justificatif._id)" title="Supprimer">
            <mat-icon>close</mat-icon>
          </button>

          <ng-container *ngIf="isImage(justificatif.filename); else notImage">
            <img
              [src]="getFullImagePath(justificatif.filename)"
              class="image"
              (click)="previsualise(justificatif.filename)"
              alt="Aperçu fichier"
            />
          </ng-container>

          <ng-template #notImage>
            <div class="file-preview">
              <mat-icon>{{ getFileIcon(justificatif.filename) }}</mat-icon>
              <div class="file-name">
                <p>{{ justificatif.filename }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="piece_form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="p-4">
    <div class="text-center mb-4">
      <input type="file" accept="image/*,.pdf,.xls,.xlsx,.doc,.docx,.txt" (change)="onImageChange($event)" hidden #fileInput />
      <button mat-raised-button color="primary" type="button" (click)="fileInput.click()" class="add-ref-btn">
        <mat-icon>attach_file</mat-icon>&nbsp;Ajouter une référence
      </button>
    </div>

    <div class="row gx-4 gy-4 d-flex justify-content-center">
      <div *ngFor="let ref of refControls.controls; let i = index" class="col-12">
        <div class="image-card">
          <div class="image-container">
            <button type="button" class="delete-button" (click)="removeRef(i)" title="Supprimer">
              <mat-icon>close</mat-icon>
            </button>

            <ng-container *ngIf="isImage(ref.value); else notImage">
              <img [src]="getFullImagePath(ref.value)" class="image" (click)="previsualise(ref.value)" alt="Aperçu fichier" />
            </ng-container>
            <ng-template #notImage>
              <div class="file-preview">
                <i [ngClass]="getFileIcon(ref.value)" class="file-icon"></i>
                <div class="file-name">
                  <p>{{ ref.value }}</p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-end mt-4">
    <button type="button" mat-stroked-button color="light" (click)="closeDialog()">Fermer</button>
    <button type="submit" mat-stroked-button color="dark">Valider</button>
  </mat-dialog-actions>
</form>
