.container-fluid {
    position: relative;
    top: 85px;
  }
  ::ng-deep mat-paginator {
    background-color: #fff !important;
  }

@media (max-width: 576px) {
  .filtre {
    width: 90vw !important;
    right: 50% !important;
    transform: translateX(50%);
    top: 10px !important;
  }
}

.sort-icon {
  font-size: 22px;
  vertical-align: middle;
  margin-left: 4px;
}

th:hover .sort-icon {
  color: #000000;
}
