<h2 mat-dialog-title>Modifier le type d'entretien</h2>
<mat-dialog-content>
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" id="nom" class="form-control" placeholder="{{type.nom}}" disabled>
  </div>
  <div class="mb-3">
    <label for="categorieEntretien" class="form-label">Catégorie entretien</label>
    <input type="text" id="categorieEntretien" class="form-control" placeholder="{{type.categorieEntretien.nom}}"  disabled>
</div>
<div class="mb-3">
    <label for="categorieModele" class="form-label">Catégorie modèle</label>
    <input type="text" id="categorieEntretien" class="form-control" placeholder="{{type.categorieModele.nom}}"  disabled>
</div>
  <form [formGroup]="type_form" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          type="description"
          formControlName="description"
          class="form-control"
          [ngClass]="{'is-invalid': type_form.get('description')?.invalid && type_form.get('description')?.touched}"
          required>
        </textarea>
        <div class="invalid-feedback" *ngIf="type_form.get('description')?.invalid && type_form.get('description')?.touched">
          La description est requise.
        </div>
      </div>
    <div class="mb-3">
        <label for="prix" class="form-label">Prix</label>
        <input
          id="prix"
          type="number"
          formControlName="prix"
          class="form-control"
          [ngClass]="{'is-invalid': type_form.get('prix')?.invalid && type_form.get('prix')?.touched}"
          required>
        <div class="invalid-feedback" *ngIf="type_form.get('prix')?.invalid && type_form.get('prix')?.touched">
          Prix invalide.
        </div>
    </div>

    <div class="mb-3">
        <label for="specialisation" class="form-label">Choisissez la spécialisation</label>
        <div *ngFor="let specialisation of specialisations">
          <label>
            <input
              id="specialisation"
              type="checkbox"
              [value]="specialisation._id"
              (change)="onSpecialisationChange($event, specialisation._id)"
              [checked]="(type_form.get('specialisationsId')?.value).includes(specialisation._id)">
            {{ specialisation.nom }}
          </label>
        </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Annuler</button>
  <button
    mat-raised-button color="primary" (click)="onSubmit()" [disabled]="type_form.invalid">
    Modifier
  </button>
</mat-dialog-actions>

