<main>
  <section class="section">
    <div class="container-fluid">
      <div class="container-flex">
        <div class="row justify-content-center">
          <div class="col-lg-12 mt-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="access-denied-container">
                  <h1>Accès refusé</h1>
                  <p>Vous n'avez pas les autorisations requises pour accéder à cette page.</p>
                  <button class="btn btn-outline-dark" (click)="backHome()">Retour à l'accueil</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
