<main>
  <section class="section">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <h5 class="card-title m-0">Liste des factures:</h5>
              </div>
              <hr>

              <div class="d-flex justify-content-end gap-2 mt-2 mb-3">
                <button class="btn btn-outline-dark" type="button" (click)="toggleFilter()">
                  <i class="bi bi-filter"></i> Filtrer
                </button>
              </div>

              <div class="filtre card" *ngIf="showFilter" style="width: 400px; position: absolute; right: 20px; top: 20px; z-index: 1000;">
                <div class="card-body">
                  <h5 class="card-title">Filtrer les Résultats</h5>
                  <button type="button" class="btn btn-close position-absolute top-0 end-0 m-2"
                          style="width: 32px; height: 32px; font-size: 32px;"
                          aria-label="Fermer"
                          #tooltip="matTooltip" matTooltip="Fermer"
                          (click)="toggleFilter()">
                  </button>

                  <div class="mb-3">
                    <label class="form-label">Numéro</label>
                    <input type="text" [(ngModel)]="searchCriteria.id" placeholder="Rechercher ID..." class="form-control">
                  </div>

                  <div class="dropdown">
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-filter"></i> Statuts
                    </button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let etat of etats">
                        <label class="dropdown-item">
                          <input type="checkbox" [(ngModel)]="selectedEtats[etat.id]" (ngModelChange)="updateEtats()">
                          {{ etat.libelle }}
                        </label>
                      </li>
                    </ul>
                  </div>

                  <div class="mb-3" *ngIf="!isClient">
                    <label for="client" class="form-label">Client</label>
                    <select class="form-select" id="client" [(ngModel)]="searchCriteria.client" (change)="applyFilters()">
                      <option value="">Tous les clients</option>
                      <option *ngFor="let client of clients" [value]="client._id">{{ client.nom }}</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" [(ngModel)]="searchCriteria.date" class="form-control">
                  </div>

                  <div class="d-flex gap-2 mt-2">
                    <button class="btn btn-secondary" #tooltip="matTooltip" matTooltip="Réinitialiser"
                            (click)="resetSearchCriteria()"><i class="bi bi-arrow-clockwise"></i></button>
                    <button class="btn btn-dark"  matTooltip="Rechercher"
                            (click)="applyFilters()"><i class="bi bi-search"></i></button>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="table-light">
                  <tr>
                    <th scope="col" class="text-nowrap">
                      Numéro
                    </th>
                    <th scope="col" (click)="sortData('date')" style="cursor: pointer;">
                      Date
                      <mat-icon *ngIf="isSorted('date', 'asc')" class="sort-icon">arrow_upward</mat-icon>
                      <mat-icon *ngIf="isSorted('date', 'desc')" class="sort-icon">arrow_downward</mat-icon>
                    </th>
                    <th scope="col" (click)="sortData('prix')" style="cursor: pointer;">
                      Montant
                      <mat-icon *ngIf="isSorted('prix', 'asc')" class="sort-icon">arrow_upward</mat-icon>
                      <mat-icon *ngIf="isSorted('prix', 'desc')" class="sort-icon">arrow_downward</mat-icon>
                    </th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let facture of factures">
                    <td>{{facture._id}}</td>
                    <td>{{facture.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{facture.prix | currency:'MGA ':true}}</td>
                    <td>
                      <span class="badge"
                            [ngClass]="{'bg-success': facture.etat.code === 10, 'bg-danger': facture.etat.code !== 10}">
                        {{ facture.etat.libelle }}
                      </span>
                    </td>
                    <td>
                      <button class="btn btn-dark btn-sm" (click)="showDetails(facture)">Détail</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <mat-paginator [length]="totalElement"
                             [pageSize]="searchCriteria.limit"
                             [pageSizeOptions]="[5, 10, 25, 100]"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-loader *ngIf="loader"></app-loader>
