<mat-dialog-content>
  <mat-form-field>
    <mat-label>Rechercher un employé</mat-label>
    <input matInput [formControl]="searchControl">
  </mat-form-field>

  <table mat-table [dataSource]="filteredEmployees">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let employee">{{ employee.user.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="specialization">
      <th mat-header-cell *matHeaderCellDef>Spécialisation</th>
      <td mat-cell *matCellDef="let employee">
        <span *ngFor="let spe of employee.specialisations; let last = last">
          {{ spe }}<span *ngIf="!last">, </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="disponibilité">
      <th mat-header-cell *matHeaderCellDef>Disponibilité</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.estOccupe ? 'Occupé' : 'Disponible' }}
      </td>
    </ng-container>
    
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Selectionner</th>
      <td mat-cell *matCellDef="let employee">
        <mat-checkbox
          [(ngModel)]="employee.isSelected"
          (change)="toggleEmployeeSelection(employee.user._id, $event)"
        ></mat-checkbox>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="task_form.invalid">
    Valider
  </button>
</mat-dialog-actions>
