<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7 d-flex flex-column align-items-center justify-content-center">

            <div class="card shadow-lg p-4 py-4" style="width: 100%; max-width: 800px;">
              <div class="card-body">
                <div class="text-center mb-4">
                  <h5 class="fw-bold text-dark">Bienvenue, {{ user?.nom }} !</h5>
                  <p class="text-muted">Vous avez été autorisé à vous inscrire sur m1p12mean-jonathan-koloina. Veuillez spécifier votre mot de passe.</p>
                </div>

                <form [formGroup]="usr_form" (ngSubmit)="onSubmit()" novalidate>

                  <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input
                      id="password"
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{'is-invalid': usr_form.get('password')?.invalid && usr_form.get('password')?.touched}"
                      placeholder="Mot de passe"
                      required>
                    <div class="invalid-feedback" *ngIf="usr_form.get('password')?.invalid && usr_form.get('password')?.touched">
                      Longueur minimale: 6 caractères.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmer votre mot de passe</label>
                    <input
                      id="confirmPassword"
                      type="password"
                      formControlName="confirmPassword"
                      class="form-control"
                      [ngClass]="{'is-invalid': passwordMatchValidator(usr_form) && usr_form.get('confirmPassword')?.touched}"
                      placeholder="Mot de passe"
                      required>
                    <div class="invalid-feedback" *ngIf="passwordMatchValidator(usr_form) && usr_form.get('confirmPassword')?.touched">
                      Les mots de passe ne correspondent pas.
                    </div>
                  </div>

                  <div class="d-grid">
                    <button class="btn btn-dark" type="submit" [disabled]="usr_form.invalid || loading">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                      Valider
                    </button>
                  </div>
                </form>

                <div class="alert alert-danger text-center" *ngIf="error">Erreur lors de l'inscription.</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</main>
