<h2 mat-dialog-title>Détails de l'utilisateur</h2>
<mat-dialog-content class="dialog-content">
  <p><strong>Nom:</strong> {{ user.nom }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Date de naissance:</strong> {{ user.dateNaissance | date: 'dd/MM/yyyy' }}</p>
  <p><strong>Téléphone:</strong> {{ user.telephone }}</p>
  <p><strong>Genre:</strong> {{ user.genre?.libelle }}</p>

  <p><strong>Rôles:</strong>
    <span *ngFor="let role of user.roles; let last = last">
      {{ role.libelle }}<span *ngIf="!last">, </span>
    </span>
  </p>

  <p><strong>État: </strong>
    <mat-chip>
      <span [ngClass]="{'active': user.etat?.code == 10, 'inactive': user.etat?.code == -10, 'created': user.etat?.code == 0}">
        {{ user.etat?.libelle }}
      </span>
    </mat-chip>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-dark" mat-button (click)="onNoClick()">Fermer</button>
</mat-dialog-actions>
