<app-navbar *ngIf="!currentRoute.includes('connexion') && !currentRoute.includes('inscription')">
</app-navbar>

<app-breadcrumb *ngIf="!currentRoute.includes('connexion') && !currentRoute.includes('inscription')" [data]="breadcrumbData">
</app-breadcrumb>

<app-sidebar *ngIf="!currentRoute.includes('connexion') && !currentRoute.includes('inscription')">
</app-sidebar>

<app-footer *ngIf="!currentRoute.includes('connexion') && !currentRoute.includes('inscription')"></app-footer>

<router-outlet></router-outlet>
