<app-navbar *ngIf="currentRoute!=='/connexion-client' && currentRoute!=='/inscription-client'">
</app-navbar>

<app-breadcrumb *ngIf="currentRoute!=='/connexion-client' && currentRoute!=='/inscription-client'" [data]="breadcrumbData">
</app-breadcrumb>

<app-sidebar *ngIf="currentRoute!=='/connexion-client' && currentRoute!=='/inscription-client'">
</app-sidebar>

<app-footer *ngIf="currentRoute!=='/connexion-client' && currentRoute!=='/inscription-client'"></app-footer>

<router-outlet></router-outlet>
