<h2 mat-dialog-title>Ajouter un nouveau marque</h2>
<mat-dialog-content>
  <form [formGroup]="marque_form" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        id="nom"
        type="text"
        formControlName="nom"
        class="form-control"
        [ngClass]="{'is-invalid': marque_form.get('nom')?.invalid && marque_form.get('nom')?.touched}"
        placeholder="ex: Toyota"
        required>
      <div class="invalid-feedback" *ngIf="marque_form.get('nom')?.invalid && marque_form.get('nom')?.touched">
        Le nom est requis.
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Annuler</button>
  <button
    #tooltip="matTooltip"
    matTooltip="Création d'un nouveau marque"
    mat-raised-button color="primary" (click)="onSubmit()" [disabled]="marque_form.invalid">
    Ajouter
  </button>
</mat-dialog-actions>
