<main>
  <section class="section">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card mb-3">
            <div class="card-body">

              <h5 class="card-title m-0">
                Mes prochaines rendez-vous:
              </h5>
              <div class="max-w-2xl mt-3 flex">
                <div class="w-1/4 pr-1 text-left">
                  <p class="text-gray-500 text-sm">March 18, 2025</p>
                </div>
                <div class="w-3/4 border-l-4 border-dark-500 pl-4">
                  <p class="text-gray-500 text-sm">07:00 - 08:00</p>
                  <h3 class="font-bold text-lg">Opening remarks</h3>
                  <p class="text-gray-700">Welcoming attendees, introducing the purpose of the event, and setting the tone for the rest of the proceedings.</p>
                  <div class="flex items-center mt-4">
                    <div class="ml-3">
                      <p class="font-semibold">Jese Leos</p>
                      <p class="text-sm text-gray-500">CEO & Co Founder Bergside LLC</p>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
