<main>
    <section class="section">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                  <h5 class="card-title m-0">Gestion des consommables et matériaux:</h5>
                  <div class="d-flex gap-2 mt-2 mt-sm-0">
                    <button class="btn btn-dark" type="button" (click)="openConsommableDialog()">Ajouter Consommable</button>
                  </div>
                </div>
                <hr>
  
                <div class="d-flex justify-content-end gap-2 mt-2 mb-3">
                    <input matInput placeholder="Rechercher un consommable..." [(ngModel)]="searchCriteria.nom" (ngModelChange)="loadConsommables()"  class="form-control w-auto">
  
                    <div class="dropdown">
                        <button class="btn btn-outline-dark" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-filter"></i> Statuts
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li *ngFor="let etat of etats">
                            <label class="dropdown-item">
                            <input type="checkbox" [(ngModel)]="selectedEtats[etat.id]" (ngModelChange)="updateEtats()">
                            {{ etat.libelle }}
                            </label>
                        </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-outline-dark" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-filter"></i> Unités
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li *ngFor="let unite of unites">
                            <label class="dropdown-item">
                            <input type="checkbox" [(ngModel)]="selectedUnites[unite._id]" (ngModelChange)="updateUnites()">
                            {{ unite.nom }}
                            </label>
                        </li>
                        </ul>
                    </div>
                </div>
  
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                      <th scope="col" class="text-nowrap">Id</th>
                      <th (click)="sortData('nom')" scope="col" class="text-nowrap" style="cursor: pointer;">
                        Nom
                        <mat-icon *ngIf="isSorted('nom', 'asc')" class="sort-icon">arrow_upward</mat-icon>
                        <mat-icon *ngIf="isSorted('nom', 'desc')" class="sort-icon">arrow_downward</mat-icon>
                      </th>
                      <th (click)="sortData('unite')" scope="col" class="text-nowrap" style="cursor: pointer;">
                        Unité
                        <mat-icon *ngIf="isSorted('unite', 'asc')" class="sort-icon">arrow_upward</mat-icon>
                        <mat-icon *ngIf="isSorted('unite', 'desc')" class="sort-icon">arrow_downward</mat-icon>
                      </th>
                      <th (click)="sortData('prix')" scope="col" class="text-nowrap" style="cursor: pointer;">
                        Prix
                        <mat-icon *ngIf="isSorted('prix', 'asc')" class="sort-icon">arrow_upward</mat-icon>
                        <mat-icon *ngIf="isSorted('prix', 'desc')" class="sort-icon">arrow_downward</mat-icon>
                      </th>
                      <th scope="col" class="text-nowrap">Statut</th>
                      <th scope="col" class="text-nowrap">Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let consommable of consommables">
                      <td class="text-nowrap">{{consommable._id}}</td>
                      <td class="text-nowrap">{{consommable.nom}}</td>
                      <td class="text-nowrap">{{consommable.unite.nom}}</td>
                      <td class="text-nowrap" style="text-align: center;">{{consommable.prix | number:'1.2-2'}} Ar</td>
                      <td>
                        <mat-slide-toggle 
                            [checked]="consommable.etat.code === 10" 
                            (change)="changeStatut(consommable._id, $event.checked)">
                        </mat-slide-toggle>
                      </td>
                      <td>
                        <button mat-icon-button (click)="openConsommableUpdateDialog(consommable)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
  
                <mat-paginator [length]="totalElement"
                               [pageSize]="searchCriteria.limit"
                               [pageSizeOptions]="[5, 10, 25, 100]"
                               (page)="onPageChange($event)"
                               aria-label="Select page">
                </mat-paginator>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-loader *ngIf="loader"></app-loader>
  